extends layout

block content
  .form-box
    form.form(role='form', action="/openslice/" + sindex + "/item/" + iindex + "/doedititem/", method="post", style='max-width: 200px;')
      label(for="itemName") Item Name
        input.btn.form-input(id="itemName", type='text', name="name", value= item.name autofocus)
      label(for="cycle") Cycle this many days
        input.btn.form-input(id="cycle", type='number', name="cycle", value= item.cycle )
      label(for="redDay") Turn red this many days out
        input.btn.form-input(id="redDay", type='number', name="redline", value= item.redline)
      label(for="daysLeft") Adjust days left
        input.btn.form-input(id="daysLeft", type='number', name="newDaysLeft", value= item.daysLeft)
      button.btn.good-item(type='submit') + Update
      a.btn.redzone-item(href='/') Nevermind
