extends layout

block content
  if (user)
    section#watermelon-container.container-fluid
      ul#slices-container.container-fluid
        each slice in user.matrix
          li.slice.container-fluid(data-index=slice.index)
            a.btn.slice-title(href="/openslice/" + slice.index)= slice.title
    pre= user
    block content
