extends layout

block content
  div#main-content-wrapper
    if (!user)
      pre no user
    if (user)
      div#fn-btn-row.container-fuid
        button#new-slice.outlined-grn-btn
          a(href="/addSlice") + Add a Slice
      section#watermelon-container.container-fluid
        pre= user
        block content
