doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Barlow|Bungee", rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon", href="/../favicon.ico")
  body
    nav#accountNav.container
      .btn-bar
        if (!user)
          a(href='/login').bar LOGIN
          a(href='/register').bar REGISTER
        if (user)
          a(href='/')#hello.bar HI #{user.username.toUpperCase()}!
          a(href='/logout').bar.fa.fa-sign-out
          a#new-slicebtn.bar.pull-right(href="/addSlice") +
            img.addsliceicon(src='/img/wmlogo.svg')
    #title-container.container
      h1#title.navbar-brand Watermelon Matrix
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/js/events.js")
    block content
