extends layout

block content
  .form-box
    form.form(role='form', action='/login', method='post', style='max-width: 200px;')
      input.btn.form-input(type='text', name='username', id='inpuUsername', placeholder='Username', required, autofocus)
      input.btn.form-input(type='password', name='password', id='inputPassword', placeholder='Password')
      button.btn.good-item(type='submit') Login
      a.btn.redzone-item(href='/') Nevermind
