extends layout

block content
  .form-box
    form.form(role='form', action="/openslice/" + sindex + "/doadditem", method="post", style='max-width: 200px;')
      input.btn.form-input(type='text', name="name", placeholder='Name' autofocus)
      input.btn.form-input(type='text', name="cycle", placeholder='# Days (7)')
      input.btn.form-input(type='text', name="redline", placeholder='Red Day (2)')
      button.btn.good-item(type='submit') + Add It
      a.btn.redzone-item(href='/') Nevermind
