extends layout

block content
  .form-box
    form.form(role='form', action="/register",method="post")
      input.btn.form-input(type='text', name="username", placeholder='Your Username' autofocus)
      input.btn.form-input(type='password', name="password", placeholder='Your Password')
      button.btn.good-item(type='submit') Sign Up
      a.btn.redzone-item(href='/') Nevermind
