body {
  /*background-color: #eee;*/
  background-image: url(../img/wood.jpg);
  padding: 20px;
  font-family: 'Barlow', sans-serif;
}

/* red #C75146 */
/* green #66A182 */
/* dark-red #81171B */

a,
a:hover,
a:visited {
  color: #333;
}

#accountNav {
  text-align: center;
}

.nav-item,
.nav-link {
  display: inline-block;
}

#title {
  font-family: 'Bungee', sans-serif;
  font-size: 5em;
  color: #66A182;
  text-shadow: 1px 1px 1px #000;
}

#watermelon-container {
  margin-top: 2em;
}

#slices-container {
  list-style-type: none;
  text-align: center;
  vertical-align: top;
  border-radius: 10px;
}

.slice {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*hide on open*/
.slice-option-menu,
.item-option-menu {
  display: none;
}

.item-box {

}


/*icons-----------------------*/
.fa {
  margin-left: -3px;
  font-size: 1.2em;
  font-weight: bold;
  opacity: 0.7;
}

/*btns--------------------------------------------*/

.btn {
  font-family: 'Bungee', sans-serif;
  cursor: pointer;
  background: #eee;
  border: #333 3px solid;
  color: #333;
  width: 180px;
  overflow: hidden;
}

.bar-btn {
  border: #333 solid 3px;
}

.submit-btn {
  width: 333px;
}

.action-btn {
  background: #66A182;
}

.slice-title {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
  color: #eee;
  background: transparent;
  border: none;
  padding: 2px;
}

.slice-item-title {
  font-family: 'Bungee', sans-serif;
  border: #111 3px solid;
}

.option {
  background: white;
  font-family: 'Barlow', sans-serif;
  font-weight: bolder;
  border: 3px solid #333;
  color: #333;
  width: 40px;
  height: 40px;
  border-radius: 5px;;
}


/*form------------------------------*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border: #333 3px solid;
  font-family: 'Barlow', sans-serif;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*statuses-----------------------------*/

.good-item {
  background: #66A182;
}

.redzone-item {
  background: #C75146;
}

.overdue-item {
  background: #81171B;
}
