body {
  background-image: url(../img/wood.jpg);
  padding: 20px;
  font-family: 'Barlow', sans-serif;
  background-attachment: fixed;
}

/* red #C75146 */
/* green #66A182 */
/* dark-red #81171B */

a,
a:hover,
a:visited {
  color: #111;
}

#accountNav {
  text-align: left;
  display: block;
  background: #eee;
  border: #111 3px solid;
}

.bar {
  display: inline-block;
  margin-right: 5px;
  padding: 4px;
  font-weight: bold;
}

#title-container {
  text-align: center;
}

#title {
  font-family: 'Bungee', sans-serif;
  font-size: 5em;
  color: #66A182;
  text-shadow: 1px 1px 1px #000;
  font-size: 4em;
  margin: 0 auto;
  margin-bottom: 50px;
}

#watermelon-container {

}

#slices-container {
  list-style-type: none;
  text-align: center;
  vertical-align: top;
  border-radius: 10px;
}

.slice {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*hide on open*/
.slice-option-menu,
.item-option-menu {
  display: none;
}

.item-box {

}


/*icons-----------------------*/
.fa {
  margin-left: -3px;
  font-size: 1.2em;
  font-weight: bold;
  opacity: 0.7;
}

.fa-sign-out {
  font-weight: normal;
  padding-top: 5px;
}

/*btns--------------------------------------------*/

.btn {
  font-family: 'Bungee', sans-serif;
  cursor: pointer;
  background: #eee;
  border: #111 3px solid;
  color: #111;
  width: 180px;
  overflow: hidden;
}

.submit-btn {
  width: 333px;
}

.action-btn {
  background: #66A182;
}

.slice-title {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
  color: #eee;
  background: transparent;
  border: none;
  padding: 2px;
}

.bar-btn {
  background: #eee;
}

.slice-item-title {
  font-family: 'Bungee', sans-serif;
  border: #111 3px solid;
}

.option {
  background: white;
  font-weight: bolder;
  border: 3px solid #111;
  color: #111;
  width: 60px;
  height: 40px;
  border-radius: 5px;;
}

/*----form---------------*/

label {
  font-family: 'Barlow', sans-serif;
  color: #66A182;
}

.form-box {
  text-align: center;
}

.form {
  margin: 0 auto;
}

.form-input {
  color: #eee;
  font-size: 1.2em;
  background: transparent;
  border: dashed 3px #66A182;
  border-radius: none;
}

/*statuses-----------------------------*/

.good-item {
  background: #66A182;
}

.redzone-item {
  background: #C75146;
}

.overdue-item {
  background: #81171B;
}

/*media queries-------------*/

@media (max-width: 800px) {
  #title {
    font-size: 1.5em;
  }

}
