body {
  background-color: #eee;
  padding: 50px;
  font-family: 'Barlow', sans-serif;
  /*font-family: 'Bungee', cursive;*/
}

/* red #C75146 */
/* green #66A182 */
/* dark-red 81171B */

a,
a:hover,
a:visited {
  color: #333;
}

#accountNav {
  text-align: center;
}

.nav-item,
.nav-link {
  display: inline-block;
}

#title {
  font-family: 'Bungee', sans-serif;
  font-size: 5em;
}

#watermelon-container {

}

#slices-container {
  list-style-type: none;
  /*background: #333;*/
  text-align: center;
  margin: 10px;
  padding: 10px;
  vertical-align: top;
}

.slice {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  position: relative;
  margin: 0;
}

.slice-option-menu,
.item-option-menu {
  display: none;
}


.item-box {

}

/*btns--------------------------------------------*/

.btn {
  font-family: 'Bungee', sans-serif;
  cursor: pointer;
  background: #fff;
  border: #333 3px solid;
  color: #333;
  width: 180px;
}

.slice-title {
  font-family: 'Bungee', sans-serif;
  color: #ddd;
  background: #555;
  border: #333 solid 3px;
}

.slice-item-title {
  font-family: 'Bungee', sans-serif;
  background: #66A182;
}

.slice-option,
.item-option {
  background: #999;
  font-family: 'Barlow', sans-serif;
  font-weight: bolder;
  border: 3px solid #555;
}



/*form------------------------------*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border: #333 3px solid;
  font-family: 'Barlow', sans-serif;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
